# I am a comment, fyi
#
# this file contains the information about functions for the GUI
# 
# if you edit this file be sure not to make mistakes in the names
# of the functions or their parameter, because if a name is incorrect
# it will not be recognized by the XML parser of the program.
#
# every new command in this file must furthermore be created in the command.xml
# file. This allows the program to map the here specified function to it's
# binary counterpart.
#
#
# The following line is for telling the program how many functions there are.
# The default-value is 0
number_of_functions=0
#
# The following lines are for telling the program how the functions name is
# and how many / which parameter this function has.
# This is done by specifying the two strings: "functionX, functionX_param"
# with X from [1,number_of_functions]; only if number_of_functions > 0
# The functionX_param string is an amount of parameter names, which are
# separated by an ; . By leaving the string empty (only an ;), no parameter will be
# created. 
# 
# Here is an example of how a function could look like:
#function1=position
#function1_param=value;value2
#function2=position2
#function2_param=;